:root {
    --navBarHeight: 60px;
    --logoSize: 300px;
    --pageOneTopHeight: 55vh;
    --colorLightBlue: rgb(176, 214, 215);
    --colorVerdigris: rgb(106, 177, 180);
    --verdigrisVal: 106, 177, 180;
    --colorDutchWhite: rgb(253, 234, 197);
    --colorCoralPink: rgb(250, 144, 128);
    --colorJasper: rgb(228, 90, 78);
    --colorTeaRose: rgb(247, 203, 200);
    --colorSunset: rgb(232, 198, 135);
    --colorBittersweet: rgb(248, 118, 98);
    --colorPeachYellow: rgb(251, 220, 157);
}

#content {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.outerWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listHeader {
    position: relative;
    top: -10px;
    font-size: xx-large;
    font-family: 'Caveat', cursive;
    text-align: center;
}

.hoursList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.textWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    padding: 20px;
    font-size: x-large;
    font-family: 'Caveat', cursive;
    text-align: center;
    color: var(--colorDutchWhite);
    background-color: rgba(var(--verdigrisVal), .6);
    border-radius: 6px;
    border: solid 2px var(--colorVerdigris);
    filter: drop-shadow(0px 0px 5px #000);
}

.tab-content-top .outerWrap .textWrap {
    margin-top: calc(var(--navBarHeight) + 60px);
}

.logo {
    position: absolute;
    bottom: calc(calc(calc(var(--logoSize) / 2) + 5px) * -1);
    left: calc(50vw - calc(var(--logoSize) / 2));
    background-image: url(Assets/donutLogoEdit.svg);
    background-position: center;
    background-size: cover;
    width: var(--logoSize);
    height: var(--logoSize);
    z-index: 11;
}

body {margin: 0;}

.navContainer {
    position: absolute;
    display: grid;
    grid-template-rows: var(--navBarHeight) 60px;
    width: 100%;
}

.navbar {
    background-color: rgb(254,57,150);
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.navBorder {
    position: relative;
    top: -10px;
    background-image: url(Assets/donutBorder.svg);
    background-size: 500px;
    background-repeat: repeat-x;
    z-index: 10;
}

.nav-button {
    position: relative;
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30px;
    width: 80px;
    transition: .5s;
    font-family: 'Caveat', cursive;
    text-decoration: underline;
    font-size: x-large;
    z-index: 11;
}

.nav-button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.pageContainer {
    position: absolute;
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.pageContainer.pageOne {
    grid-template-rows: var(--pageOneTopHeight) 1fr;
    z-index: 3;
}

.pageContainer.pageTwo {
    grid-template-rows: 3fr 5fr;
    z-index: 2;
}

.pageContainer.pageThree {
    grid-template-rows: 8fr 3fr;
    z-index: 1;
}

.tab-content-top {
    position: relative;
    top: 0px;
    border-bottom: solid 1px black;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.pageContainer.pageOne .tab-content-top {
    display: grid;
    grid-template-rows: 1fr calc(calc(var(--logoSize) / 2) - 4px);
}

.pageContainer.pageOne .parallaxOuterWrap .parallaxInnerWrap {
    background-image: url(Assets/donutDisplay2.png);
}

.pageContainer.pageTwo .tab-content-top {
    background-color: var(--colorDutchWhite);
}

.pageContainer.pageThree .tab-content-top {
    background-color: var(--colorCoralPink);
}

.tab-content-top.offscreen {
    top: -1000px;
}

.tab-content-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
    border-top: solid 1px black;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.pageContainer.pageOne .tab-content-bottom .parallaxOuterWrap .parallaxInnerWrap {
    background-image: url(Assets/rack.png);
}

.pageContainer.pageOne .tab-content-bottom .textWrap {
    margin-top: calc(var(--logoSize) / 4);
    padding-left: 50px;
    padding-right: 50px;
    width: auto;
}

.pageContainer.pageTwo .tab-content-bottom {
    background-color: var(--colorPeachYellow);
}

.pageContainer.pageThree .tab-content-bottom {
    background-color: var(--colorBittersweet);
}

.tab-content-bottom.offscreen {
    bottom: -1000px;
}

.parallaxOuterWrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.parallaxInnerWrap {
    position: absolute;
    width: 110%;
    height: 110%;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

@media (max-width: 1024px) {
    :root {
        --logoSize: 150px;
        --pageOneTopHeight: 60vh;
    }

    .textWrap {
        width: 80vw;
        font-size: large;
    }

    .navBorder {
        background-size: 400px;
    }

    .parallaxInnerWrap {
        width: 100%;
        height: 100%;
    }

    .pageContainer.pageOne {
        grid-template-rows: 4fr 3fr;
        z-index: 3;
    }
}